*{
    box-sizing: border-box;
    display: block;
    
}
body{
    margin: 5px 5px 10px 10px;
    padding: 10px;
    background-color: hsl(30, 38%, 92%);
}

.card{
    background-color: white;
    border-radius: 42px 42px 42px 42px;
    
}


body img{
    width: 100%;
    border-radius: 42px 42px 0px 0px;
}

body h3{
    font-family: 'Montserrat';
    font-size: 14px;
    color: hsl(158, 36%, 37%);
    margin-left: 5px
}

body h1{
    font-family: 'Fraunces';
    font-size: 40px;
    color:  hsl(212, 21%, 14%);
    margin-left: 5px;
}

body h2{
    font-family: 'Montserrat';
    font-size: 18px;
    color: hsl(158, 36%, 37%);
    line-height: 2;
    margin-left: 5px
}

.price{
    display: flex;
    justify-content: space-around;

}
.price-discount{
    font-family: 'Fraunces';
    font-size: 40px;
    color: rgb(85, 107, 47);
}

.price-original{
    font-family: 'Montserrat';
    font-size: 16px;
    text-decoration:line-through;
    align-self: center;
}

button {
    padding: 1.3em 3em;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: rgb(85, 107, 47);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 100%;
    
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

  /*---Desktop--*/

  @media (min-width: 769px) {
    
    .card{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-top: 90px;
        margin-left: 30px;
    }

    body img{
        width: 50%;
        border-radius: 42px 0px 0px 42px;
    }
    .copy{
        align-self:flex-end;
        width: 40%;
        margin-left: 25px;
    }

    button{
       margin-left: 690px ;
        width: 25%;
    }
}
    









